{{ define "main" }}
<div id="content">

  <pre>
curl -L https://noirup.org/install | bash
noirup --nightly
  </pre>

  <h4>an introduction to <a href="https://noir-lang.org/">Noir</a>, with simple examples</h4>
  <div class="resource-list">
    <ul>
      {{ $examples := (where .Site.RegularPages.ByDate "Type" "examples")}}
      {{ range $examples }}
      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
  </div>

  <h4>and basic zk gadgets</h4>
  <div class="resource-list">
    <ul>
      {{ range first 5 (where .Site.RegularPages.ByDate "Type" "gadgets") }}
      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
      <li>
        <a href="/gadgets">...</a>
      </li>
    </ul>
  </div>

</div>
{{ end }}
